{% extends 'base.html' %}
{% block title %}
New grade
{% endblock %}

{% block content %}
<div id="form">
    <h1>New grade</h1>

    <form action="" method="get">
        <input type="hidden" name="form" value="true" required>
        <input type="text" name="value" id="grade-value" placeholder="Grade" required>
        <input type="text" name="value-max" id="grade-value-max" placeholder="On" value="20" required>
        <input type="text" name="factor" id="grade-factor" placeholder="Factor">
        <!--<input type="text" name="subject" id="grade-subject" placeholder="Subject" required>-->
        <select name="subject" id="grade-subject" style="height:30px;width:75%;">
            {% for subject in subjects %}
            <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
        <input type="text" name="description" id="grade-description" placeholder="Description" required>
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}