{% extends 'base.html' %}
{% block title %}
View subject
{% endblock %}

{% block content %}
    <script>
        let url = window.location.href.split('?');
    </script>

    <div id="view">
        <div id="info">
            <p>{{ subject }}</p>
        </div>

        <button onclick="window.location.href = url[0].split('view')[0] + 'update?' + url[1]" id="js-link-update">Update</button>
        <button onclick="window.location.href = url[0].split('view')[0] + 'delete?' + url[1]" id="js-link-delete">Delete</button>
    </div>
{% endblock %}