{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div id="index">
    {% for subject in subjects %}
    <a class="subject" href="/subject/view?subject={{ subject }}">{{ subject }}</a>
    {% for grade in subjects[subject] %}
        <div class="grade">
            <a href="/grade/view?id={{ grade.id }}&subject={{ subject }}">
                {{ grade.grade }}
                {{ grade.grade_max }}
                {{ grade_20 }}
                {{ grade.factor }}
                {{ grade.description }}
            </a>
        </div>
    {% endfor %}
{% endfor %}
</div>
<!--version control-->
<script>
    checkSoftwareVersion();
</script>

{% endblock %}